.Shop {
  display: flex;
}

/* .categoryTitle{
  background-color: rgb(247, 247, 247);
  font-style: italic;
  border-bottom: 1px solid rgba(3, 0, 90, 0.932);
  height: 75px;
  padding-top: 75px;
  margin-bottom: 50px;
  font-size: 25px;
  display: flex;
  color: rgba(3, 0, 90, 0.932);

} */
.Shop nav {
  background-color: rgb(247, 247, 247);
  position: fixed;
  z-index: 0;
  height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.navItems {
  width: 100%;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}
.navItems a {
  padding: 30px;
  text-decoration: none;
  color: black;
}
.shopLink:hover {
  background-color: rgb(228, 228, 228) !important;
  cursor: pointer !important;
}
.item{
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.315);
  border-radius: 10px;
}
.item:hover{
  box-shadow: 1px 3px 5px rgba(5, 5, 5, 0.562);
}

.cartManager {
  background-color:   rgb(7, 3, 121);
}
.shopLink.active{
  font-weight: bolder;
  font-style: italic;
  color: rgb(255, 72, 0);

 
}