.Shop{
    display:flex;
}

.Shop nav{
    background-color: rgb(247, 247, 247);
    position: fixed;
    z-index: -1;
}

.navItems{
    width: 100%;
    margin-top: 90px;
}
.navItems div {
    padding: 30px;
}
.navItems div:hover{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}