.mainNav {
  /* background-color: black; */
  background-color:   rgb(1, 0, 37);
 /* background-color: rgb(8, 10, 92); */
  z-index: 10;
}
.mainNav li {
  margin-right: 50px;
  list-style-type: none;
  font-weight: bolder;
}
.mainNav a {
  text-decoration: none;
  color: white;
}
